# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
.pnp

# Logs
logs
*.log
yarn-debug.log*
.yarn-integrity

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite specific
dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.gz
*.zip
*.tar
*.tgz

# Docker specific
Dockerfile
docker-compose.yml
