services:
  server:
    image: mariusniemet/seiri-server
    depends_on:
      - db
    ports:
      - "3004:3000"
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: root
      DB_NAME: thot
      CACHE_HOST: redis
      CACHE_PORT: 6379
      SMTP_USER: YOUR_API_KEY
      SMTP_PASSWORD: YOUR_API_PASSWORD
      WEB_APP_ADDRESS: http://localhost:3005/
      PORT: 3000
      TOKEN_SECRET: secret

  client:
    image: mariusniemet/seiri-web
    depends_on:
      - server
    ports:
      - "82:82"
    restart: always
    environment:
      REACT_APP_API_URL: https://apiseiri.mariusniemet.me/api/
    

  db:
    platform: linux/amd64
    image: postgres:15
    container_name: db
    restart: always   
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: thot
      POSTGRES_USER: postgres
    ports:
      - "5433:5432" 
    volumes:
      - pg-data:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
  pg-data:
