button {
  background-color: $primary;
  border: 1px solid $primary;

  padding: 12px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.icon-c {
  padding: 5px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(133, 134, 153);
  }
}
