button {
  color: $white;

  &.b-primary {
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      transition: ease-in;
      transition-duration: 0.3s;
      background-color: rgb(102, 107, 226);
    }
  }

  &.secondary {
    background-color: #2c2d3c;
    border: 1px solid #2c2d3c;

    &:hover {
      transition: ease-in;
      transition-duration: 0.3s;
      color: white;
    }
  }

  padding: 12px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.icon-c {
  padding: 5px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(133, 134, 153);
  }
}

.task {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #2c2d3c;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
  }

  .icon-c svg {
    font-size: 20px;
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;

    svg {
      visibility: inherit;
    }
  }

  .infos {
    align-items: center;

    &.isdone-true {
      text-decoration: line-through;
    }

    .statut {
      height: 17px;
      width: 17px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      &.isdone-false {
        border: 1px solid #2c2d3c;

        svg {
          color: #2c2d3c;
          visibility: hidden;
        }
        &:hover {
          border-color: $white;

          svg {
            transition: ease-in;
            transition-duration: 0.2s;
            visibility: inherit;
            color: $white;
          }
        }
      }

      &.isdone-true {
        border: 1px solid greenyellow;
        background-color: greenyellow;

        svg {
          color: #2c2d3c;
          visibility: inherit;
        }
      }
    }
  }
}
