.project-list {
  margin-top: 5px;

  .project-items {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

    .dot-icon {
      color: gray;
      display: none;
    }

    svg {
      color: white;
      font-size: 26px;
    }

    .notes-count {
      font-size: 12px;
      color: gray;
    }

    &:hover {
      background-color: rgb(133, 134, 153);
      transition: 0.2s;

      .dot-icon {
        display: block;

        &:hover {
          color: $white;
        }
      }

      .notes-count {
        display: none;
      }
    }
  }
}
